<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <tui-input formControlName="email">
    Введите почту
    <input tuiTextfieldLegacy type="email" />
    <small *ngIf="loginForm.get('email')?.errors?.['email']">
      Введите корректный email
    </small>
  </tui-input>

  <tui-input formControlName="password">
    Введите пароль
    <input tuiTextfieldLegacy type="password" />
  </tui-input>

  <button tuiButton type="submit" [disabled]="loginForm.invalid">Войти</button>
  <p>
    У вас нет учетной записи?
    <a [routerLink]="['../register']">Зарегистрироваться</a>
  </p>
</form>
