<form [formGroup]="registrationForm" (ngSubmit)="register()">
  <tui-input formControlName="email">
    Введите почту
    <input tuiTextfieldLegacy type="email" />
  </tui-input>

  <tui-input formControlName="name">
    Введите никнейм
    <input tuiTextfieldLegacy type="text" />
  </tui-input>

  <tui-input formControlName="password">
    Введите пароль
    <input tuiTextfieldLegacy type="password" />
  </tui-input>

  <tui-input formControlName="confirmPassword">
    Подтвердите пароль
    <input tuiTextfieldLegacy type="password" />
  </tui-input>
  <div class="error">
    <small *ngIf="registrationForm.errors?.['mismatch']"
      >Пароли должны совпадать</small
    >
  </div>

  <button tuiButton type="submit" [disabled]="registrationForm.invalid">
    Зарегистрироваться
  </button>
  <p>Уже есть аккаунт? <a [routerLink]="['../login']">Войти</a></p>
</form>
