<tui-loader *ngIf="isLoading$ | async" size="xxl" class="loader" />

<div class="container">
  <div class="task-container" *ngIf="(isLoading$ | async) === false">
    <ng-container *ngIf="task$ | async as task">
      <app-task
        [routeClick]="false"
        [task]="task"
        [categoryName]="(category$ | async)!.name"
        [projectId]="projectId"
        [isAdmin]="isAdmin"
        (deleteTask)="onDeleteTask($event)"
        (editTask)="onEditTask($event)"
      ></app-task>
    </ng-container>
  </div>
</div>
