@import '../../../../colors.scss';

:host {
  height: 100vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-color-yellow;

  tui-pagination {
    margin-bottom: 30px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    width: 90%;
    height: 90%;

    @media (max-width: 768px) {
      .navigation {
        display: none;
      }
    }

    .carousel {
      .item {
        padding: 1rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        text-align: center;

        @media (min-width: 768px) {
          img {
            width: 300px;
          }
        }

        p {
          margin: 0;
          font-size: 20px;
          font-weight: 700;
        }

        small {
          font-size: 16px;
        }

        a {
          width: 100%;

          button {
            width: 60%;
          }

          @media (max-width: 768px) {
            button {
              width: 80%;
            }
          }
        }
      }
    }
  }
}
