@import '../../../../colors.scss';

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: -webkit-linear-gradient(
    270deg,
    rgb(252, 253, 255) 98%,
    rgb(247, 247, 247)
  );
  background: -moz-linear-gradient(
    270deg,
    rgb(252, 253, 255) 98%,
    rgb(247, 247, 247)
  );
  background: linear-gradient(
    270deg,
    rgb(252, 253, 255) 98%,
    rgb(247, 247, 247)
  );
  padding: 0 75px 30px;
}

.wrapper {
  padding: 35px 0;
}

.roleCard {
  background-color: #f1f5f9;
  width: 266px;
  border-radius: 29px;
  margin-bottom: 35px;
  padding: 18px 26px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.categories {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
