@import '../../../../../constants.scss';

.task {
  position: relative;
  padding: 8px 15px;
  background: #ffffff;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 6px;

  .taskControls {
    display: none;
    position: absolute;
    right: 7px;

    .control {
      color: #134563;
      transition: scale 0.2s ease-in-out;
    }

    .control:hover {
      scale: 1.2;
    }
  }

  &:hover {
    .taskControls {
      display: block;
    }
  }

  .name {
    max-width: 80%;
    margin: 8px 0;
    color: #787779;
    line-height: 1.3;
  }

  .badge {
    font-size: 12px;
    font-weight: 500;
  }

  .description {
    margin: 4px 0;
    font-size: 11px;
    color: #aeaeae;
  }

  .date {
    margin: 0;
    font-size: 11px;
    color: #d3d3d3;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  margin: 0;
  padding: 30px 0;
}

@media screen and (max-width: $mobile) {
  .task {
    .taskControls {
      display: block;
      scale: 1.2;
    }
  }
}
