<app-project-select [currentProjectName]="project.name" />
<main class="wrapper">
  <div class="roleCard" tuiAppearance="neutral" tuiCardMedium>
    <h2 tuiTitle>Роль в проекте {{ (project$ | async)?.name }}</h2>
    <p class="role" tuiSubtitle>{{ role }}</p>
  </div>

  <div class="categories">
    @for (category of project.categories; track category.id) {
    <app-category-card
      [category]="category"
      [tasks]="getTasksByCategoryId(category.id)"
    />
    }
    <button
      class="categoryButton"
      appearance="secondary"
      size="l"
      tuiButton
      type="button"
    >
      <tui-icon icon="@tui.plus" [style.height.rem]="1" />
      Добавить категорию
    </button>
  </div>
</main>
