<app-project-select
  [currentProjectName]="project.name"
  [projectType]="project.type"
/>
<tui-loader *ngIf="isLoading" size="xxl" class="loader" />
<div *ngIf="!isLoading" class="wrapper">
  <div class="info">
    <div class="card" tuiAppearance="neutral" tuiCardMedium>
      <h2 tuiTitle>Роль в проекте</h2>
      <p class="role" tuiSubtitle>{{ role }}</p>
    </div>
    @if(project.type === 'shared') {
    <app-users-card
      [users]="users"
      [isAdmin]="isAdmin"
      (addUserInProject)="addUser($event)"
      (deleteUserInProject)="deleteUser($event)"
    ></app-users-card>
    } @if (isAdmin) {
    <button
      appearance="secondary"
      size="s"
      tuiButton
      type="button"
      class="delete-button"
      (click)="onDeleteProject()"
    >
      Удалить проект
    </button>
    }
  </div>

  <div class="categories">
    @for (category of project.categories; track category.id) {
    <app-category-card
      [category]="category"
      [tasks]="getTasksByCategoryId(category.id)"
      [projectId]="project.id"
      [isAdmin]="isAdmin"
      (deleteCategory)="onDeleteCategory(category.id)"
      (addTask)="onAddTask($event, category.id)"
      (deleteTask)="onDeleteTask($event)"
      (editTask)="onEditTask($event)"
    />
    } @if (isAdmin) {
    <button
      class="categoryButton"
      appearance="secondary"
      size="l"
      tuiButton
      type="button"
      (click)="showDialog(template)"
    >
      <tui-icon icon="@tui.plus" [style.height.rem]="1" />
      Добавить категорию
    </button>
    }
  </div>

  <ng-template #template let-observer>
    <h2>Добавить категорию</h2>
    <form
      [formGroup]="newCategoryForm"
      (ngSubmit)="createNewCategory(); observer.complete()"
      class="form"
    >
      <tui-input formControlName="name">
        Название категории
        <input tuiTextfieldLegacy type="text" />
      </tui-input>
      <div class="error">
        <small *ngIf="newCategoryForm.errors?.['match']"
          >Название категории должно быть уникальным</small
        >
      </div>
      <button tuiButton type="submit" [disabled]="newCategoryForm.invalid">
        Добавить
      </button>
    </form>
  </ng-template>
</div>
