@import '../../../../colors.scss';

:host {
  height: 100%;
  display: block;
  background: -webkit-linear-gradient(
    270deg,
    rgb(252, 253, 255) 98%,
    rgb(247, 247, 247)
  );
  background: -moz-linear-gradient(
    270deg,
    rgb(252, 253, 255) 98%,
    rgb(247, 247, 247)
  );
  background: linear-gradient(
    270deg,
    rgb(252, 253, 255) 98%,
    rgb(247, 247, 247)
  );
  padding: 0 75px;
}

.wrapper {
  padding: 35px 0;
}

.roleCard {
  background-color: #f1f5f9;
  color: #7a7c7f;
  width: 330px;
  height: 120px;
  border-radius: 29px;
  margin-bottom: 35px;
  padding: 18px 26px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;

  .role {
    color: #a7aaad;
    font-weight: 500;
  }
}

.categories {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.categoryButton {
  background-color: #f5f5f5;
  color: #4f4a4a;
  border-radius: 29px;
}
