@import '../../../../colors.scss';

:host {
  flex: 1;
  height: 100%;
  display: block;
  background: -webkit-linear-gradient(
    270deg,
    rgb(252, 253, 255) 98%,
    rgb(247, 247, 247)
  );
  background: -moz-linear-gradient(
    270deg,
    rgb(252, 253, 255) 98%,
    rgb(247, 247, 247)
  );
  background: linear-gradient(
    270deg,
    rgb(252, 253, 255) 98%,
    rgb(247, 247, 247)
  );
}

div {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  button {
    width: 80%;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;

  tui-input {
    width: 100%;
  }

  .error {
    height: 20px;
  }

  small {
    color: red;
  }
}
