<div class="profile-container">
  <h1 class="title">Профиль</h1>

  <div>
    <button tuiButton (click)="showDialog(template)">Сменить пароль</button>
    <button tuiButton appearance="primary" (click)="showDialog(changeNameTemplate)">Сменить никнейм</button>
    <button tuiButton appearance="primary" (click)="logout()">Выйти</button>
  </div>
</div>

<ng-template #template let-observer>
  <h2>Сменить пароль</h2>
  <form
    [formGroup]="passwordForm"
    (ngSubmit)="changePassword(); observer.complete()"
    class="form"
  >
    <tui-input formControlName="password">
      Введите пароль
      <input tuiTextfieldLegacy type="password" />
    </tui-input>

    <tui-input formControlName="confirmPassword">
      Подтвердите пароль
      <input tuiTextfieldLegacy type="password" />
    </tui-input>
    <div class="error">
      <small *ngIf="passwordForm.errors?.['mismatch']"
        >Пароли должны совпадать</small
      >
    </div>
    <button tuiButton type="submit" [disabled]="passwordForm.invalid">
      Сменить пароль
    </button>
  </form>
</ng-template>

<ng-template #changeNameTemplate let-observer>
  <h2>Сменить никнейм</h2>
  <form
    [formGroup]="nameForm"
    (ngSubmit)="changeName(); observer.complete()"
    class="form"
  >
    <tui-input formControlName="name">
      Введите новый никнейм
      <input tuiTextfieldLegacy type="text" />
    </tui-input>

    <button tuiButton type="submit" [disabled]="nameForm.invalid">
      Сменить никнейм
    </button>
  </form>
</ng-template>
