@import '../../../../colors.scss';

:host {
  flex: 1;
  height: 100%;
  display: block;
  background-color: $background-color-yellow;
}

div {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  button {
    width: 80%;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;

  tui-input {
    width: 100%;
  }

  .error {
    height: 20px;
  }

  small {
    color: red;
  }
}
