:host {
  height: 100%;
}

.main-page {
  height: 100vh;
  display: flex;

  aside {
    height: 100vh;
    left: 0;
  }

  main {
    height: 100vh;
    width: calc(100vw - 48px);
    display: block;
    padding: 0;
    overflow: hidden;
  }
}

.main-page-mobile {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  nav {
    position: sticky;
    bottom: 0;
    z-index: 100;
  }
}
