:host {
  height: 100%;
}

.main-page {
  height: 100vh;
  display: flex;

  aside {
    height: 100vh;
  }

  main {
    display: block;
    padding: 0;
    overflow-y: scroll;
  }
}

.main-page-mobile {
  height: 100%;
  display: flex;
  flex-direction: column;

  nav {
    position: sticky;
    bottom: 0;
    z-index: 100;
  }
}
